[Unit]
Description="Node Js Webapp 6225 Service"
After=network.target
Wants=mysqld.service

[Service]
EnvironmentFile=/opt/.env
Type=simple
User=csye6225
Restart=always
RestartSec=500ms
StartLimitInterval=0
WorkingDirectory=/opt/csye6225dir
ExecStart=/usr/bin/npm run start

[Install]
WantedBy=cloud-init.target